<div>
	<!-- 	//<input type="button" value="allUsers" data-ng-click="allUsers()" />
 -->
	<!-- 	<div>
		<table>
			<thead>
				<tr>
					<th>User Name</th>
					<th>Password</th>
					<th>Edit</th>
				</tr>
			</thead>
			<tbody>
				<tr data-ng-repeat="user in users">
					<td>{{user.username}}</td>
					<td>{{user.password}}</td>
				</tr>
			</tbody>
		</table>
	</div> -->

	<div>
		<table>
			<thead>
				<tr>
					<th>Customer Id</th>
					<th>Customer Num</th>
					<th>Customer Name</th>
					<th>Customer Status</th>
					<th>Customer Type</th>
				</tr>
			</thead>

			<tbody>
				<tr data-ng-repeat="customer in customers">
					<td>{{customer.customer_id}}</td>
					<td>{{customer.customer_num}}</td>
					<td>{{customer.customer_name}}</td>
					<td>{{customer.customer_status}}</td>
					<td>{{customer.customer_type}}</td>


				</tr>
			</tbody>
		</table>
	</div>
</div>
