<div>
	<form data-ng-submit="saveOrder()">
		<h3>Order Form</h3>
		<table>
			
			<tr>
				<td>Customer Name</td>
				<td><!-- <select ng-model="order.customerName" style="width: 200px;">
						<option ng-repeat="customer in customerNames" value="{{customer}}">
							{{customer}}</option>
				</select> --> <md-select data-ng-model="order.customerName"
						placeholder="Select a Customer"> <md-option
						ng-value="customer" ng-repeat="customer in customerNames">{{
					customer }}</md-option> </md-select></td>
			</tr>
			<tr>
				<td>Customer ship to address</td>
				<td>
					<!-- <select ng-model="order.shipaddress" style="width: 200px;">
						<option ng-repeat="address in shipaddress" value="{{address.add}}">
							{{address.add}}</option>
				</select> --> <md-select data-ng-model="order.shipaddress"
						placeholder="Select a Address"> <md-option
						ng-value="address.add" ng-repeat="address in shipaddress">{{
					address.add }}</md-option> </md-select>
				</td>
			</tr>

			<tr>
				<td>Customer bill to address</td>
				<td><input type="text" data-ng-model="order.billaddress"></td>
			</tr>

			<tr>
				<td>Credit line</td>
				<td><input type="text" data-ng-model="order.creditline"></td>
			</tr>

			<tr>
				<td>Credit available</td>
				<td><input type="text" data-ng-model="order.creditAvailabe"></td>
			</tr>

			<tr>
				<td>Current Outstanding</td>
				<td><input type="text" data-ng-model="order.outstanding"></td>
			</tr>

			<tr>
				<td>Container/Shelter item #:</td>
				<td>
					<!-- <select style="width: 200px;" data-ng-model="order.item">
						<option ng-repeat="item in items" value="{{item.id}}">
							{{item.id}}</option>
				</select> --> <md-select data-ng-model="order.item"
						placeholder="Select a Item"> <md-option
						ng-value="item.id" ng-repeat="item in items">{{
					item.id }}</md-option> </md-select>
			</tr>

			<tr>
				<td>Length of Lease:</td>
				<td>
					<!-- <select style="width: 200px;"
					data-ng-model="order.leaselength">
						<option ng-repeat="length in Lengths" value="{{length.len}}">
							{{length.len}}</option>
				</select> --> <md-select data-ng-model="order.leaselength"
						placeholder="Select a Length"> <md-option
						ng-value="length.len" ng-repeat="length in Lengths">{{
					length.len }}</md-option> </md-select>
			</tr>
			<tr>
				<td>Start of Lease:</td>
				<td><md-datepicker data-ng-model="order.startdate"
						md-placeholder="Enter date" ng-change="dd-MM-yyyy"></md-datepicker></td>
			</tr>

			<tr>
				<td>End of Lease:</td>
				<td><md-datepicker data-ng-model="order.endDate"
						md-placeholder="Enter date" ng-change="dd-MM-yyyy"></md-datepicker></td>
			</tr>
			<tr>
				<td>Is available?</td>
				<td><input type="checkbox" ng-model="order.isavailable"
					ng-true-value="'YES'" ng-false-value="'NO'"></td>
			</tr>
			<tr>
				<td>Total Lease cost:</td>
				<td><input type="text" data-ng-model="order.totalcost"></td>
			</tr>
			<tr>
			<td>ID</td>
						<td><input type="number" data-ng-model="order.id"/> </td>
			
			</tr>
			<tr>
				<td></td>
				<td><input type="submit" value="submit"></td>
			</tr>
			
		</table>
	</form>
</div>